<template>
    <div class="container">
        <div class="text-center" style="margin: 20px 0px 20px 0px;">
            <span class="text-secondary">Laravel Vue CRUD Example</span>
        </div>
 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <router-link to="/" class="nav-item nav-link">Home</router-link>
                    <router-link to="/Patterns" class="nav-item nav-link">Patterns</router-link>
                    <router-link to="/Patterns/Add" class="nav-item nav-link">Add Pattern</router-link>
                    <router-link to="/Sequences" class="nav-item nav-link">Sequences</router-link>
                    <router-link to="/Sequences/Add" class="nav-item nav-link">Add Sequence</router-link>
                    <router-link to="/Import" class="nav-item nav-link">Import</router-link>
                    <router-link to="/api/download" class="nav-item nav-link">Download</router-link>
                </div>
            </div>
        </nav>
        <br/>
        <router-view></router-view>
    </div>
</template>
 
<script>
    export default {}
</script>