<template>
    <div>
        <h3 class="text-center">Add Pattern</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addPattern">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="number" class="form-control" v-model="pattern.id">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="pattern.name">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Pattern</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                pattern: {}
            }
        },
        methods: {
            addPattern() {
 
                this.axios
                    .post('http://localhost:8000/api/patterns/add', this.pattern)
                    .then(response => (
                        this.$router.push({name: 'AllPatterns'})
                        // console.log(response.data)
                    ))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>