<template>
    <div>
        <h3 class="text-center">All Patterns</h3><br/>
 
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="pattern in patterns" :key="pattern.id">
                <td>{{ pattern.id }}</td>
                <td>{{ pattern.name }}</td>
                <td>{{ pattern.created_at }}</td>
                <td>{{ pattern.updated_at }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'EditPattern', params: { id: pattern.id }}" class="btn btn-primary">Edit
                        </router-link>
                        <button class="btn btn-danger" @click="deletePattern(pattern.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                patterns: []
            }
        },
        created() {
            this.axios
                .get('http://localhost:8000/api/patterns')
                .then(response => {
                    this.patterns = response.data;
                });
        },
        methods: {
            deletePattern(id) {
                this.axios
                    .delete(`http://localhost:8000/api/patterns/delete/${id}`)
                    .then(response => {
                        let i = this.patterns.map(item => item.id).indexOf(id); // find index of your object
                        this.patterns.splice(i, 1)
                    });
            }
        }
    }
</script>