<template>
    <div>
        <h3 class="text-center">All Sequences</h3><br/>
 
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="Sequence in Sequences" :key="Sequence.id">
                <td>{{ Sequence.id }}</td>
                <td>{{ Sequence.name }}</td>
                <td>{{ Sequence.created_at }}</td>
                <td>{{ Sequence.updated_at }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <router-link :to="{name: 'EditSequence', params: { id: Sequence.id }}" class="btn btn-primary">Edit
                        </router-link>
                        <button class="btn btn-danger" @click="deleteSequence(Sequence.id)">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                Sequences: []
            }
        },
        created() {
            this.axios
                .get('http://localhost:8000/api/sequences')
                .then(response => {
                    console.log(response.data)
                    this.Sequences = response.data;
                });
        },
        methods: {
            deleteSequence(id) {
                this.axios
                    .delete(`http://localhost:8000/api/sequences/delete/${id}`)
                    .then(response => {
                        let i = this.Sequences.map(item => item.id).indexOf(id); // find index of your object
                        this.Sequences.splice(i, 1)
                    });
            }
        }
    }
</script>