<template>
  <div>
    <h3 class="text-center">Edit Sequence</h3>
    <div class="row">
      <div class="col-md-6">
        <form @submit.prevent="updateSequence">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" v-model="Sequence.name" />
          </div>
          <button type="submit" class="btn btn-primary">Update Name</button>
        </form>

        <form @submit.prevent="updateSteps">
          <button type="submit" class="btn btn-primary">Save Steps</button>
      </form>
      </div>
    </div>
    <div id="spreadsheet" ref="spreadsheet"></div>
    <!-- <div>
      <input
        type="button"
        value="Add new row"
        @click="() => spreadsheet.insertRow()"
      />
    </div> -->
  </div>
</template>
 
<script>
import jexcel from "jexcel";
import "jexcel/dist/jexcel.css";

export default {
  name: "App",
  data() {
    return {
      Sequence: {},
      Steps: [],
      Patterns: [],
    };
  },

  created() {
    this.axios
      .get(`http://localhost:8000/api/sequences/edit/${this.$route.params.id}`)
      .then((response) => {
        this.Sequence = response.data.sequence;
        this.Steps = response.data.steps;
        this.Patterns = response.data.patterns;
        this.updateSpreadsheet();
      });
  },
  computed: {
    jExcelOptions() {
      return {
        data: this.Steps,
        allowToolbar: true,
        columns: [
            { type: "hidden", title: "Step Id", width: "120px" },
            {
            type: "hidden",
            title: "Sequence Id",
            width: "100px",
            decimal: ",",
            readOnly: true
            },
            {
              type: "dropdown",
              title: "Pattern",
              width: "250px",
              source: this.Patterns,
            },
            {
            type: "numeric",
            title: "Time",
            width: "100px",
            //decimal: ",",
            },
            { type: "checkbox", title: "Direction", width: "80px" },
            {
            type: "numeric",
            title: "Type",
            width: "100px",
            decimal: ",",
            },
            {
            type: "numeric",
            title: "Tempo",
            width: "100px",
            decimal: ",",
            },
            { type: "color", title: "Color1", width: "100px", render: "square" },
            { type: "color", title: "Color2", width: "100px", render: "square" },
            { type: "hidden", title: "Created At", width: "100px", readOnly: true },
            { type: "hidden", title: "Updated At", width: "100px", readOnly: true },
        ],
        };
    }
  },
  methods: {
    updateSpreadsheet(){
        let spreadsheet = jexcel(this.$refs["spreadsheet"], this.jExcelOptions);
        Object.assign(this, { spreadsheet });
    },
    updateSequence() {
      this.axios
        .post(
          `http://localhost:8000/api/sequences/update/${this.$route.params.id}`,
          this.Sequence
        )
        .then((response) => {
          this.$router.push({ name: "home" });
        });
    },
    updateSteps() {
      console.log(this.Steps);
      this.axios
        .post(`http://localhost:8000/api/steps/store/${this.$route.params.id}`, this.Steps)
        .then(
          (response) => this.$router.push({ name: "home" })
          // console.log(response.data)
        )
        .catch((error) => console.log(error))
        .finally(() => (this.loading = false));
    },
  },
};
</script>