<template>
    <div>
        <h3 class="text-center">Edit Pattern</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updatePattern">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="pattern.name">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Pattern</button>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                pattern: {}
            }
        },
        created() {
            this.axios
                .get(`http://localhost:8000/api/patterns/edit/${this.$route.params.id}`)
                .then((response) => {
                    this.pattern = response.data;
                    // console.log(response.data);
                });
        },
        methods: {
            updatePattern() {
                this.axios
                    .post(`http://localhost:8000/api/patterns/update/${this.$route.params.id}`, this.pattern)
                    .then((response) => {
                        this.$router.push({name: 'AllPatterns'});
                    });
            }
        }
    }
</script>